html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-bg: #0A0A0A;
    --dark-bg: #303841;
    --white-bg: #F3F3F3;
    --kinda-orange: #2185D5;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../assets/fonts/MonumentExtended-Regular.otf');
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../assets/fonts/JetBrainsMono-Regular.ttf');
}

/* Header CSS */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--black-bg);
    color: var(--white-bg);
    height: max-content;
    padding: 20px 0px;
    font-family: 'JetBrains Mono', sans-serif;

}

header h1 {
    padding-left: 20px;
}

.hamborgerMenu {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    padding-right: 10px;
}

.hamborgerFocus {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;

    &:focus {
        cursor: default;
    }
}

.bar {
    width: 25px;
    height: 2px;
    background-color: var(--white-bg);
    transition: 0.6s;
}

.navLinks {
    width: 100vw;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -1;
    transition: .6s ease-in;
    transform: translateY(-100%);
    background-color: var(--kinda-orange);
    padding: 20px 15px 20px;
}

.navLinks ul {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    position: relative;
}

.navLinks li:not(:last-child) {
    margin-bottom: 20px;
}

.navLinks li {
    list-style-type: none;
}

.navLinks a {
    text-decoration: none;
    color: var(--black-bg);
}

.navLinks a::after {
    content: '';
    width: 0%;
    margin-top: 8px;
    height: 2px;
    display: block;
    position: absolute;
    background-color: var(--black-bg);
    transition: .35s;
}

.navLinks a:hover::after {
    width: 100%;
}

.hamborgerFocus:focus~.navLinks {
    transform: translate(0);
}

.hamborgerFocus:focus>.bar1,
.hamborgerFocus:focus>.bar3 {
    opacity: 0;
    width: 0;
}

.hamborgerFocus:focus>.bar2 {
    transform: rotateZ(90deg);
    transform-origin: center;
    height: 25px;
    border-radius: 50%;
    background-color: var(--kinda-orange);
}


/* Main page CSS */